body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/*********** Header start ***********/

.header__container {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  height: 140px;
  background-color: #661180;
}

.header__logo-link {
}

.menu__list {
  display: flex;
}

.menu__item {
  font-size: 18px;
  list-style: none;
  margin: 40px;
}

.menu__link {
  color: white;
  text-decoration: none;
}

.menu__link--active:hover {
  text-shadow: 0px 0px 5px rgb(255, 53, 174);
  transition: 0.5ms;
}

.header__search-input {
  width: 270px;
  height: 35px;
  border-radius: 30px;
  background-color: none;
  border: 1px solid white;
  background-color: #661180;
  color: white;
  padding-left: 15px;
  font-size: 16px;
}

.header__search-input--focus:focus {
  outline: none;
}

.header__search-input::placeholder {
  color: white;
  font-size: 16px;
  text-align: right;
}

.media__list {
  display: flex;
}

.media__item {
  padding: 10px;
  list-style: none;
}

/*********** Header end ***********/

.main {
  background: linear-gradient(to bottom, #661180, #c30b83);
}

.get-started {
  height: 605px;
}

.get-started__container {
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.get-started__text-container {
}

.get-started__title {
  font-size: 80px;
  color: white;
  letter-spacing: 5px;
  font-family: "Audiowide", sans-serif;
  margin: 0;
}

.get-started__subtitle {
  color: white;
  font-size: 44px;
  letter-spacing: 5px;
  margin: 0;
}

.get-started__text {
  color: white;
}

.get-started__button {
  color: white;
  width: 180px;
  height: 35px;
  font-size: 16px;
  background-color: #661180;
  border: 1px solid white;
  border-radius: 30px;
  margin-top: 15px;
  cursor: pointer;
}

.get-started__image-container {
}

.get-started__image {
}
